name: Continuos Integration
on:
 push:
   branches: [ master ]
 pull_request:
   branches: [ master ]
 release:
   types:
     - created
jobs:
  test:
    name: Install dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: unit test
        #TODO: CI must use actions instead of Makefile
        run: make install
  build:
    name: Build system
    runs-on: ubuntu-latest
    steps:
      - name: Run Go build
        run: |
          echo "Build"
  certificate:
    needs: build
    name: "Certificate"
    runs-on: ubuntu-latest
    if: contains(github.ref,'refs/tags/release') || ${{ github.ref == 'refs/heads/master' }}
    steps:
     - name: Build flat image
       run: |
        echo "Certificate"
  docker:
    needs: certificate
    name: "Docker"
    runs-on: ubuntu-latest
    if: contains(github.ref, 'refs/tags/release') || ${{ github.ref == 'refs/heads/master' }}
    steps:
     - name: Build flat image
       run: |
        echo "Docker"
  release:
     needs: docker
     name: "Flat image"
     runs-on: ubuntu-latest
     if: contains(github.ref,'refs/tags/release/')
     steps:
      - name: Build flat image
        run: |
         echo "Build flat image"
